export MONGO_URL=mongodb://localhost:27017/MedBook
export MAIL_URL=smtp://baertsch@soe.ucsc.edu@localhost
export ROOT_URL=http://localhost:10000/wb
export MEDBOOK_CONFIG=$PWD/../config.toml
echo $MEDBOOK_CONFIG
VELOCITY_DEBUG_MIRROR=0 MOCHA_WEB_DEBUG=0 VELOCITY_DEBUG=0 meteor  --port 10003 
