
<template name="ShellBoxplot"> 
	{{> Boxplot}}
	{{ToolResults}}
</template>

<template name="Boxplot">
	<div class="tool">
		<h3>Tool Parameters</h3>
	{{#each selectedContrast}}
	name: {{name}} 	
	{{/each}}
		<h4>Select top <input id="gene" class="input-sm" type="text" placeholder="CD46"> Gene</h4>
		<br><button id="boxplot">Run Boxplot </button>
	</div>
</template>

<template name="ToolResults"> 
<div id="job">	
   <h2>Results</h2>
	{{#each blobs}}
		<p><a target="_blank" href="{{this.url store='blobs' download=false}}">{{this.name}} ({{this.size}} bytes)</a> </p>
	{{/each}}
</div>

</template>



