<template name="StudiesIndex">
  	<div id="home">
		<h3>Welcome to Medbook</h3>
	
		<h4>tutorials:</h4>
		
		<ul>
		<li>Select a Dataset or Upload your own data. <a href="/wb/screencast/upload" class="link" alt="#"> View Screencast</a></li>
		<li>Get Quick overview of a data set</li>
		<li>Browse Genes, Clinical Variables, Contasts, Expression, Copy Number, Mutations and Signatures. <a href="/wb/screencast/upload" class="link" alt="#"> View Screencast</a></li>
		<li>Before starting, browse others results </li>
		<li>Create a new Contrast</li>
		<li>Initiate job to a new analysis</li>
		<li>Review Results</li>
		<li>Generate a New Signature</li>
		<li>Compare signature to other Pathways</li>
		<li>Share your Results and Datasets</li>
		<li>Generate Figures and tables for Publication</li>	
	</ul>
	</div>
	
</template>

