<template name="MasterLayout">
    <div class="container-fluid">
		 <div class="studies-panel">
			 Study:
			{{#with studies}}
				<select id="study" class="span1-12">
					<option value="">Select a Study ...</option>
					{{#each this}}
					<option  value="{{id}}" selected={{selected}}>{{short_name}}</option>
					{{/each}}
				</select>
			{{else}}
				No studies yet.
			{{/with}}
			<button class="nuc">Reset</button>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li class="{{isActiveRoute regex='studies.index'}}"><a href="{{pathFor 'StudiesIndex'}}">Home</a></li>
			<li class="{{isActiveRoute regex='cohort'}}"><a href="{{pathFor 'Cohort'}}">Cohort</a></li>
			<li class="{{isActiveRoute regex='patient'}}"><a href="{{pathFor 'Patient'}}">Patient</a></li>
			<li class="{{isActiveRoute regex='scv'}}"><a href="{{pathFor 'Scv'}}">Differential Analysis</a></li>
			<li class="{{isActiveRoute regex='genes'}}"><a href="{{pathFor 'Genes'}}">Gene</a></li>
			<li class="{{isActiveRoute regex='pathways'}}"><a href="{{pathFor 'Pathways'}}">Pathways</a></li>
			<li class="{{isActiveRoute regex='clinical.events.index'}}"><a href="{{pathFor 'ClinicalEventsIndex'}}">Clinical</a></li>
			<li class="{{isActiveRoute regex='shell'}} shell-tab"><a href="{{pathFor 'Shell'}}">Tools</a></li>
			<li class="{{isActiveRoute regex='drugs'}}"><a href="{{pathFor 'Drugs'}}">Drugs</a></li>
		</ul>
		<div class="tab-content">
			{{> yield}}
		</div>
    </div>
</template>
