<template name="MasterLayout">
     <div class="studies-panel">
    	 Study: <select id="study" class="span1-12">
    		{{#each studies}}
    		 	<option value="{{id}}">
  				{{short_name}}
  			</option>
    		{{else}}
  			<li class="study-item empty">
    			No studies yet.
  			</li>
    		{{/each}}
  	</select>
    </div>	
<div class="tabs" id="tabs">
	<ul class="nav nav-tabs" role="tablist" >
  		<li ><a href="#home" id="home_tab">Home </a></li>
  	   	<li class="active"><a href="#cohort" id="cohort_tab">Cohort</a></li>
	   	<li><a href="#patient" id="patient_tab">Patient</a></li>
		<li><a href="#scv" id="contrast_tab">Differential Analysis</a></li>
		<li><a href="#gene" id="gene_tab">Genes</a></li>
		<li><a href="#pathway" id="pathway_tab">Pathways</a></li>
		<li><a href="#clinical" id="clinical_tab" >Clinical</a></li>
		<li><a href="#job" id="job_tab">Tools</a></li>	
		<li><a href="#drug" id="drug_tab">Drugs</a></li>	
	</ul>
  {{> yield}}
</div>
</template>
