
<template name="Jobs">
	<ul class="list-group">
		{{#each jobs}}
			<li class="list-group-item list-group-item-{{boostrapStatus}}">
				<tr class="selectableResult" data-id="{{_id}}" >
				<div>
					{{name}} {{formatDate date_created}} {{status}}
					{{#if isDiffContrast}}
						<button id="post-contrast" class="btn btn-mini btn-primary">Save Signature</button>
					{{/if}}
						 <button id="post-tel" class="btn btn-mini btn-primary">Share	</button>
					{{#each output.blobs}}
						{{#if isPDF}}
						<a target="iframe_target"  onclick="showPDF()" href="{{geturl.url}}">{{geturl.name}}</a>
						{{else}}
							{{#if isSVG}}

								<a target="svg_iframe"  onclick="showSVG()" href="{{geturl.url}}" >{{geturl.name}}</a>

							{{else}}
								{{#if isText}}

								<a target="iframe_target"  onclick="showText()" href="{{geturl.url}}" >{{geturl.name}}</a>
								{{else}}
									<a class="selectableHot" data-id={{geturl.id}} href="#">{{geturl.name}} {{geturl.type}}</a>
								{{/if}}
							{{/if}}
						{{/if}}
					{{/each}}
					<button id="del-result" class="btn btn-danger btn-mini btn-xs">Delete</button>
					</div>
				</tr>
			</li>
		{{/each}}
	</ul>

			<iframe class="svg_plot" name="svg_iframe" hidden>

			</iframe>
			<div id="frameset_div" hidden>
			<FRAMESET rows="100%" >
				<frame id="iframe_target" name="iframe_target">
				</frame>
			</FRAMESET >

			</div>
			<div id="HOTdiv" hidden></div>

</template>

<template name="JobsDetail">
	{{#with selectedResult}}
 		{{>mimeSpecificResult type=this.type}}
	{{/with}}
</template>
