
<template name="Jobs">
	<table class="table table-bordered">
	    <thead>
	        <tr>
	            <th>New Results:</th>

	        </tr>
	    </thead>
	    <tbody>
		 	{{#each jobs}}
				<tr class="selectableResult" data-id="{{_id}}" >
				<div >
					hello
					{{name}}
					{{#if isDiffContrast}}
						<button id="post-contrast" class="btn btn-mini btn-primary">Save Signature</button>
					{{/if}}
				     <button id="post-tel" class="btn btn-mini btn-primary">Share	</button>
					{{#each blobs}}
						{{#if isPDF}}
						<a target="iframe_target"  onclick="showPDF()" href="{{geturl.url}}">{{geturl.name}}</a>
						{{else}}
							{{#if isSVG}}

								<a target="svg_iframe"  onclick="showSVG()" href="{{geturl.url}}" >{{geturl.name}}</a>

							{{else}}
								<a class="selectableHot" data-id={{geturl.id}} href="#">{{geturl.name}} {{geturl.type}}</a>
							{{/if}}
						{{/if}}
					{{/each}}
					<button id="del-result" class="btn btn-danger btn-mini btn-xs">Delete</button>
					</div>
				</tr>
			{{/each}}
			<iframe class="svg_plot" name="svg_iframe" hidden>

			</iframe>
			<div id="frameset_div" hidden>
			<FRAMESET rows="100%" >
				<frame id="iframe_target" name="iframe_target">
				</frame>
			</FRAMESET >

			</div>
		<div id="HOTdiv" hidden></div>

	    </tbody>
	</table>

</template>

<template name="JobsDetail">
	{{#with selectedResult}}
 		{{>mimeSpecificResult type=this.type}}
	{{/with}}
</template>
